.center {
	margin: auto;
	text-align: center;
	padding: 10px;
}

h1 {
	font-size: 35px;
}

th {
	height: 100px;
	width: 100px;
}

.top-bottom {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
}

.left-right {
	border-left: 1px solid black;
	border-right: 1px solid black;
}