<h1>Friends List</h1>

<% friends.forEach(function(friend) { %>
    <li><%= friend %></li>
<% }); %>

<form action="/addfriend" method="POST">
    <!--name="newfriend" is how data is added to the request body-->
    <input type="text" name="newfriend" placeholder="name"></input>
    <button>I made a new friend!</button>
</form>