<!DOCTYPE html>
<html>
    <head>
        <title>Demo App</title>
        <!--Need to include "/" in href="/app.css" due to path restrictions-->
        <link rel="stylesheet" href="/app.css">
    </head>
    <body>